.sidebar{
    position: fixed;
    height: 100%;
    top: 116px;
    color: #fff;
    background-color: #69131d;
    z-index: -9;
    padding: 15px;
    width: 250px;
    left: 0px;
}
.tituloFiltro{
    font-size: 20px;
}
.subtituloFiltro{
    font-size: 15px;
    margin-top: 15px;
}