.bg {
    position: fixed; 
    top: -40%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
.bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
  .barraMedia{
      background-color: #000000a8;
      width: 100%;
      margin-left: -15px;
      height: 60px;
      position: fixed; 
      bottom: 0px;
      z-index: 99999;
  }
  .btnsMedia{
    display: flex;
    align-items: center;
    align-content: center;
    height: 60px;
    margin-left: 15px;
  }
  .comprarCredito{
    color: #ffe400;
    padding: 5px;
    background-color: #322628;
    border-radius: 15px;
    font-weight: 400;
    border: 1px solid;
    cursor: pointer;
    text-align: center;
    float: right;
  }
  .btnsAction{
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .bg {
        position: relative; 
        top: -10px; 
        left: -20px; 
        width: 100%; 
        height: 100%;
      }
    .bg img {
        min-height: 300px;
        position: relative; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 100%;
        min-height: 100%;
    }
    .barraMedia{
        background-color: #000000a8;
        width: 110%;
        margin-left: -15px;
        height: 60px;
        position: relative; 
        top:-68px;
        z-index: 99999;
    }
    .btnsAction{
      display: block;
      display: block;
      margin-top: -60px;
      color: #fff;
      width: 100%;
    }
  }